:root {
    --colorDeFondo: #bfe8ff;
    --colorDeHeader: #03486f;
    --colorDeBordeHeader: #011824;
    --fuentePrincipal: "Bricolage Grotesque";
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: var(--fuentePrincipal), sans-serif;
}
body {
    background-color: var(--colorDeFondo);
    font-size: 1.2rem;
}
.headerInicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1.5%;
    padding: 1% 3%;
    gap: 10%;
    background-color:var(--colorDeHeader);
    border-bottom: 3px solid var(--colorDeBordeHeader);
}
.logo {
    display: block;
    width: 60px;
}
.barraDeNav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    font-size: 1.2em;
    list-style: none;
}
.barraDeNav a {
    text-decoration: none;
    color: var(--colorDeFondo);
    position: relative;

}
.barraDeNav a::after {
    content: '';
    width: 0;
    height: 3px;
    left: 0;
    background-color: var(--colorDeFondo);
    position: absolute;
    bottom: 1%;
    transition: 0.3s;
}
.barraDeNav a:hover::after {
    width: 100%;
}
.logoRegistro {
    display: block;
    width: 30px;
}
.botonDeRegistro {
    border-radius: 30px;
    padding: 0;
    text-decoration: none;
    color: var(--colorDeFondo);
}
.logo:hover, .logoRegistro:hover {
    transform: scale(1.2);
}

.mainInicio {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 1.5;
    padding: 1% 2%;
}

article {
    display: flex;
    flex-direction: column;
}

p {
    width: auto;
    text-align: center;
    justify-content: center;
}

h1, h2 {
    text-align: center;
}

.imagenDelFaro, img {
    width: 100%;
    height: 100%;
}


/* Pagina lugares */

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.museo {
    background-color: white;
    width: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.museo img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}

.museo h2 {
    font-size: 21px;
}

.museo p {
    line-height: 1.5;
}